# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd


# Virtual environments
myenv/
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Logs
logs/
*.log
